<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nr.estshara">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
<!--    <application-->
<!--            android:usesCleartextTraffic="true"-->
<!--            android:label="laundry"-->
<!--            android:icon="@mipmap/ic_launcher">-->
<!--        <uses-library-->
<!--                android:name="org.apache.http.legacy"-->
<!--                android:required="false" />  </application>-->
    <application android:usesCleartextTraffic="true">
    </application>

</manifest>
