<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>614160231344-22af6sagor1p5g3sd3pne49ddf9c3maq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.614160231344-22af6sagor1p5g3sd3pne49ddf9c3maq</string>
	<key>API_KEY</key>
	<string>AIzaSyAqW3lJVGrcFQKCpb65DgwJBxw4Y1sYuec</string>
	<key>GCM_SENDER_ID</key>
	<string>614160231344</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nr.estshara</string>
	<key>PROJECT_ID</key>
	<string>estshatat</string>
	<key>STORAGE_BUCKET</key>
	<string>estshatat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:614160231344:ios:694c245d8dda48a04d8475</string>
</dict>
</plist>